# Reference: https://github.com/i3/i3/blob/next/etc/config

enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

after-startup-command = [
  'exec-and-forget borders'
]

[mode.main.binding]
alt-enter = 'exec-and-forget wezterm start'

# Monitor focusing
alt-shift-slash = 'focus-monitor --wrap-around next'

# Window focusing
alt-x = 'focus left  --boundaries workspace --boundaries-action wrap-around-the-workspace'
alt-c = 'focus right --boundaries workspace --boundaries-action wrap-around-the-workspace'
alt-k = 'focus down'
alt-l = 'focus up'

# Window movement
alt-shift-j = 'move left'
alt-shift-k = 'move down'
alt-shift-l = 'move up'
alt-shift-semicolon = 'move right'
alt-shift-comma = 'move-node-to-monitor --wrap-around --focus-follows-window next'

alt-h = 'split horizontal'
alt-v = 'split vertical'

alt-f = 'fullscreen'

alt-s = 'layout v_accordion'               # 'layout stacking' in i3
alt-w = 'layout h_accordion'               # 'layout tabbed' in i3
alt-e = 'layout tiles horizontal vertical' # 'layout toggle split' in i3

alt-shift-space = 'layout floating tiling' # 'floating toggle' in i3

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
ctrl-alt-tab = 'workspace-back-and-forth'

# See: https://nikitabobko.github.io/AeroSpace/commands#resize
alt-shift-minus = 'resize smart -48'
alt-shift-equal = 'resize smart +48'

# Not supported, because this command is redundant in AeroSpace mental model.
# See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
#alt-space = 'focus toggle_tiling_floating'

# `focus parent`/`focus child` are not yet supported, and it's not clear whether they
# should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
# alt-a = 'focus parent'

ctrl-1 = 'workspace web'
ctrl-2 = 'workspace code'
ctrl-3 = 'workspace term'
ctrl-4 = 'workspace chat'
ctrl-5 = 'workspace ops'
ctrl-6 = 'workspace misc'
ctrl-7 = 'workspace 7'
ctrl-8 = 'workspace 8'
ctrl-9 = 'workspace 9'
ctrl-0 = 'workspace 10'

ctrl-shift-1 = 'move-node-to-workspace web'
ctrl-shift-2 = 'move-node-to-workspace code'
ctrl-shift-3 = 'move-node-to-workspace term'
ctrl-shift-4 = 'move-node-to-workspace chat'
ctrl-shift-5 = 'move-node-to-workspace ops'
ctrl-shift-6 = 'move-node-to-workspace misc'
ctrl-shift-7 = 'move-node-to-workspace 7'
ctrl-shift-8 = 'move-node-to-workspace 8'
ctrl-shift-9 = 'move-node-to-workspace 9'
ctrl-shift-0 = 'move-node-to-workspace 10'

alt-shift-c = 'reload-config'
alt-shift-r = 'flatten-workspace-tree'
alt-r = 'mode resize'

[mode.resize.binding]
h = 'resize width -50'
j = 'resize height +50'
k = 'resize height -50'
l = 'resize width +50'
enter = 'mode main'
esc = 'mode main'

[gaps]
inner.horizontal = 3
inner.vertical =   3
outer.left =       4
outer.bottom =     4
outer.top =        4
outer.right =      4
