loc_name=Newcastle Upon Tyne, United Kingdom
lat=54.988098
lon=-1.619400
msl=67
timezone=Europe/London
offset=+00:00
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=2
units_windspeed=1
units_precipitation=1
units_altitude=1
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=0
forecast_layout=0
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid-dark
show_scrollbox=true
scrollbox_lines=1
scrollbox_font=SF Pro Display Semi-Bold 9
scrollbox_color=rgba(0,0,0,0)
scrollbox_use_color=false
label0=3

