@font-face {
	font-family: 'custom-ui-font';
	font-weight: 500;
	font-style: normal;
	src:
		local('SFNS Text'),
		local('Roboto')
	;
}

atom-workspace {
	font-family: 'custom-ui-font', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
}
