* {
    font: "SF Pro Display Medium 16px";
    padding: 3px 5px;
    background-color: rgba(0,0,0,0);
    color: #fff;
}

window {
    background-color: rgba(42,42,42,0.95);
}

listview {
    padding: 0.5em;
    spacing: 0em;
}

#element {
    padding: 0.5em 0.35em;
    border-radius: 0.25em;
}

#element selected {
  background-color: rgba(49,91,239,1);
}

/* vim:ft=css
